<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShowTracker</title>
</head>
<body>
<h2>Welcome to ShowTracker.</h2>

{{#username}}
Hello, {{.}}!
<form action="/logout" method="post" style="display:inline-block;">
    <button type="submit">Logout</button>
</form>
{{/username}}
<br><br>

{{^username}}
<form action="/login" method="post">
    <input type="text" name="username" placeholder="Enter your name."/>
    <input type="password" name="pass" placeholder="Enter your password."/>
    <button type="submit">Login</button>
</form>
<br><br>
{{/username}}

{{#username}}
Add a new show:<br><br>
<form action="/create-show" method="post">
    <input type="text" name="artist" placeholder="Artist"/>
    <input type="text" name="date" placeholder="Date"/>
    <input type="text" name="location" placeholder="Location"/>
    <input type="text" name="notes" placeholder="Notes"/>
    <button type="submit">Submit</button>
</form>
<br><br>
{{/username}}

<ul>
{{#shows}}
<li>
    {{artist}} | {{date}} | {{location}} | {{notes}}<br>
(added by <i>{{creator}}</i>)
</li>
    {{#isOwner}}
    <form action="/delete-show" method="post">
        <input type="hidden" name="id" value="{{id}}">
        <button type="submit">Delete</button>
    </form>
    {{/isOwner}}
    <br>
{{/shows}}
</ul>

</body>
</html>