<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShowTracker</title>
</head>
<body>
<h2>Welcome to ShowTracker.</h2>

{{#username}}
Hello, {{.}}!
<form action="/logout" method="post" style="display:inline-block;">
    <button type="submit">Logout</button>
</form>
{{/username}}
<br>
<br>

{{^username}}
<form action="/login" method="post">
    <input type="text" name="username" placeholder="Enter your name."/>
    <input type="password" name="pass" placeholder="Enter your password."/>
    <button type="submit">Login</button>
</form>
<br>
{{/username}}

{{#shows}}
{{artist}} | {{date}} | {{location}} | {{notes}}<br>
(added by <i>{{creator}}</i>)
{{/shows}}

</body>
</html>