<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Show</title>
    <style>
       body {
        background-color: #E6E6E6;
        border: 2px solid black;
        padding: 20px;
        margin: 50px;
        color: black;
        font-family: Georgia;
        }
    </style>
</head>
<body>Update show:<br><br>
<i>{{#show}}{{artist}} | {{date}} | {{location}} | {{notes}}{{/show}}</i>
<br>
<br>
<form action="/update-show" method="post">
    <input type="text" name="artist" value="{{artist}}"/>
    <input type="text" name="date" value="{{date}}"/>
    <input type="text" name="location" value="{{location}}"/>
    <input type="text" name="notes" value="{{notes}}"/>
    <input type="hidden" name="id" value="{{id}}"/>
    <button type="submit">Submit</button>
</form>
</body>
</html>