<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Show</title>
    <style>
       body {
        background-color: #CEF6F5;
        border: 2px solid black;
        padding: 20px;
        margin: 50px;
        color: dark-grey;
        font-family: Verdana;
        }
    </style>
</head>
<body>Update show:<br><br>
<i>{{#show}}{{artist}} | {{date}} | {{location}} | {{notes}}{{/show}}</i>
<br>
<br>
<form action="/update-show" method="post">
    <input type="text" name="update-artist" placeholder="Edit Artist"/>
    <input type="text" name="update-date" placeholder="Edit Date"/>
    <input type="text" name="update-location" placeholder="Edit Location"/>
    <input type="text" name="update-notes" placeholder="Edit Notes"/>
    <input type="hidden" name="update-id" value="{{id}}"/>
    <button type="submit">Submit</button>
</form>
</body>
</html>